#_menu_sound{
	background-image: url("../img/menu/sound_default.png");

}
#_menu_sound.active{
	background-image: url("../img/menu/sound_focus.png");	
}

#_menu_air{
	background-image: url("../img/menu/air_default.png");
}
#_menu_air.active{
	background-image: url("../img/menu/air_focus.png");
}

#_menu_wheel{
	background-image: url("../img/menu/wheel_default.png");
}
#_menu_wheel.active{
	background-image: url("../img/menu/wheel_focus.png");
}


#_menu_fur{
	background-image: url("../img/menu/fur_default.png");
}
#_menu_fur.active{
	background-image: url("../img/menu/fur_focus.png");
}

#_menu_oil{
	background-image: url("../img/menu/oil_default.png");
}
#_menu_oil.active{
	background-image: url("../img/menu/oil_focus.png");
}

#_menu_video{
	background-image: url("../img/menu/video_default.png");
}
#_menu_video.active{
	background-image: url("../img/menu/video_focus.png");
}

.spinInfo{
	background-image: url("../img/spin/info_2.png");
}
.spinMenu.active>.spinInfo{
	background-image: url("../img/spin/info.png");
}	
.spinArrow{
	background-image: url("../img/spin/arrow_2.png");
}
.spinMenu.active>.spinArrow{
	background-image: url("../img/spin/arrow.png");
}	
.spinLens{
	background-image: url("../img/spin/lens_2.png");
}
.spinMenu.active>.spinLens{
	background-image: url("../img/spin/lens.png");
}	

#_spin_info{
	top:18%;
	left:34%;
	z-index: 20;
}
#_spin_sound{
	top:18%;
	left:36%;
}
#_spin_air{
	top:50%;
	left:31%;
}
#_spin_wheel{
	top:66%;
	left:30%;
}
#_spin_fur{
	top:69%;
	right:32%;
}

#_spin_oil{
	top:55%;
	right:30%;
}