body{
	background:black;
	color:white;
	border:0;
	padding: 40px 60px 40px 60px;
	margin:0;

	font-family: 'Lato', sans-serif;
	font-family: 'Noto Sans TC', sans-serif;
}

.center{
	display:block;
	text-align: center;
	margin: auto;
}


#_header{
	/*margin-top:40px;
	margin-right: 60px;
	margin-left: 60px;*/
	position: absolute;
	left: 60px;
	right: 60px;

}

.HeaderButton{
	float:right;
	width:26px;
	height:26px;
	display: inline-block;

}
#_title{
	height:28px;
}
#_mmlab{
	background-image: url("../img/mm.png");
	background-size: contain;	
	margin-right:30px;
}
#_facebook{
	background-image: url("../img/fb.png");
	background-size: contain;
}

#_footer{
	position: absolute;
	/*width:100%;*/
	bottom: 40px;
	right: 60px;
	left: 60px;

	opacity: 0.85;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
  	font-weight: 900;
}
.footerLeft{
	float:left;
	/*margin-left: 60px;*/
}
.footerRight{
	float:right;
	/*margin-right: 60px;	*/
}

#_menu{
	position: absolute;
	bottom:85px;
	left:0px;
	right: 0px;
}


#_model{
	/*background: red;*/
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px
}

.menuIcon{
	width:65px;
	height:80px;	
	
	margin-left: 29px;
	margin-right: 29px;

	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;

	transition: .2s ease-out;
	cursor: pointer;
}
#_menu_info{
	position: absolute;
	
	top:94px;
	left:614px;

	width:38px;
	height:38px;
	background-image: url("../img/info.png");
}


.backImage{
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
.backImage>div,.backImage>img{
	width:100%;
	height:100%;
}

#_loading{
	z-index: 100;
	color:white;
	background: black;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hidden{
	opacity: 0;
	transition: .2s ease-out;
}
.close{
	display:none;
}

