body{
	background:black;
	color:white;
	border:0;
	padding: 20px 20px 20px 20px;
	margin:0;

	font-family: 'Lato', sans-serif;
	font-family: 'Noto Sans TC', sans-serif;
}
@media only screen and (min-width: 768px){
	body{
		padding: 40px 60px 40px 60px;
	}
}

.center{
	display:block;
	text-align: center;
	margin: auto;
}


#_header{
	position: absolute;
	left: 20px;
	right: 20px;
}

.HeaderButton{
	float:right;
	width:40px;
	height:40px;
	display: inline-block;
	margin-left:15px;
	background-size: contain;	

}
@media only screen and (min-width: 768px){
	#_header{
		position: absolute;
		left: 60px;
		right: 60px;
	}
	.HeaderButton{
		width:26px;
		height:26px;
	}
}

#_mmlab{
	background-image: url("../img/mm.png");	
}
#_facebook{
	background-image: url("../img/fb.png");
}
#_sound_button{
	background-image: url("../img/sound_on.png");
}
#_sound_button.off{
	background-image: url("../img/sound_off.png");
}

#_ham_button{
	background-image: url("../img/menu.png");
}

#_title,#_footer{
	display: none;
}
@media only screen and (min-width: 768px){

	#_title{
		display: inline-block;
		height:28px;
	}
	#_footer{
		display: block;
		position: absolute;
		/*width:100%;*/
		bottom: 40px;
		right: 60px;
		left: 60px;

		opacity: 0.85;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
	  	font-weight: 900;
	}
}

.footerLeft{
	float:left;
	/*margin-left: 60px;*/
}
.footerRight{
	float:right;
	/*margin-right: 60px;	*/
}

#_menu{
	position: absolute;
	bottom:20px;
	left:20px;
	right: 20px;
	height:50px;
}
@media only screen and (min-width: 768px){
	#_menu{
		left:30%;
		right: 30%;
		bottom:85px;
	}
}

#_model{
	/*background: red;*/
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px
}


.menuIcon{

	position:relative;
	width:16%;
	height:100%;	
	
	/*margin-left: 29px;
	margin-right: 29px;*/

	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	transition: .2s ease-out;
	cursor: pointer;
}

.spinMenu{
	display: none;
	position: absolute;
	width:80px;
	height:38px;
	z-index: 10;
	transition: .2s ease-out;
}
@media only screen and (min-width: 768px){
	.spinMenu{
		display: block;
	}
}

.spinIcon{
	position: absolute;
	width:38px;
	height:38px;	
	background-size: contain;
	transition: .2s linear;
	cursor: pointer;
	display: inline-block;
}
.spinMenu.left>.spinIcon{
	right:0px;
}
.spinLine{
	position: absolute;
	left:36px;
	right:11px;
	top:18px;
	height:1px;
	background-color: white;
	opacity: 0.85;
	display: inline-block;
}
.spinMenu.left>.spinLine{
	right:36px;
	left:11px;
}
.spinCircle{
	position: absolute;
	right: 0;
	top:12px;
	width:9.4px;
	height:9.4px;
	border:solid 1.5px #ffffff;
	border-radius: 50%;
	opacity: 0.85;	
	display: inline-block;
}
.spinMenu.left>.spinCircle{
	right:'';
	left:0;
}


.backImage{
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
.backImage>div,.backImage>img{
	width:100%;
	height:100%;
}

#_loading{
	z-index: 100;
	color:white;
	background: black;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
#_loading>img{
	position: relative;
	top:35%;
	height:30%;
}

.hidden{
	opacity: 0;
	transition: .2s linear;
}
.close{
	display:none;
}

#_hint{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 12;
}
#_hint_text{
	position: absolute;
	top:15%;
	left:34%;
	color:white;

	opacity: 0.85;
  	font-family: 'Noto Sans TC';
  	font-size: 14px;
  	font-weight: 500;
  	text-align: center;
}
#_hint_img{
	
	position: absolute;
	top:20%;
	left:36%;

	width:80px;
}